h1 {
    color: maroon;
    background-image: linear-gradient(to top, blanchedalmond, burlywood);
}

h2{
    color: firebrick;
    background-image: linear-gradient(to top, blanchedalmond, burlywood);
}

body{
    background-image: linear-gradient(to right, antiquewhite, burlywood);

}

p {
    color: darkslategrey;
}

li {
    color: maroon;
    font-style: italic;
    list-style-type: square;
}


